* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#page,
h1,
#make-choice,
#score-and-label,
#shake-area,
#results-container p,
#now-serving {
  display: flex;
  justify-content: center;
}

body {
  /* display: flex;
  justify-content: center; */
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  background-color: var(--background-color);
  color: var(--text-color);
}
:root {
  --background-color: rgb(30, 30, 30);
  --text-color: rgb(220, 220, 220);
}
#page {
  width: 1600px;
  border: 1px solid red;
  /* display: flex;
  justify-content: center; */
  flex-direction: column;
}
h1 {
  /* display: flex;
  justify-content: center; */
  font-weight: 700;
  font-size: 60px;
}
#intro {
  border: 1px solid orange;
  font-size: 30px;
}
#three-choices {
  display: flex;
  /* justify-content: center; */
  justify-content: space-around;
  border: 1px solid green;
  width: 800px;
}
#choice-container {
  /* flex-direction: column;
  display: flex;
  justify-content: center; */
  margin: 0 auto;
}
#score-and-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#shake-area img {
  margin: 0 20px;
  margin-top: 20px;
}
#now-serving {
  padding: 10px 0;
  align-items: center;
}
#dmv-number {
  background-color: darkblue;
  padding: 5px 30px;
  margin-left: 10px;
}
#results-container p {
}
