* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
#page,
h1,
#make-choice,
#score-and-label,
#shake-area,
#results-container p,
#now-serving {
  display: flex;
  justify-content: center;
}

body {
  /* display: flex;
  justify-content: center; */
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  background-color: var(--background-color);
  color: var(--text-color);
}
:root {
  --background-color: rgb(30, 30, 30);
  --text-color: rgb(220, 220, 220);
}
#page {
  width: 1600px;
  border: 1px solid red;
  /* display: flex;
  justify-content: center; */
  flex-direction: column;
}
h1 {
  /* display: flex;
  justify-content: center; */
  font-weight: 700;
  font-size: 60px;
}
#intro {
  border: 1px solid orange;
  font-size: 30px;
}

#score-and-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
#shake-area img {
  margin: 0 20px;
  margin-top: 20px;
}
#now-serving {
  padding: 10px 0;
  align-items: center;
}
#dmv-number {
  background-color: darkblue;
  padding: 5px 30px;
  margin-left: 10px;
}
#results-container p {
}

.ticket {
}

#ticket-number-you {
  position: relative;
  left: -75px;
  color: black;
}

/* CHOICE BUTTON */

#three-choices {
  display: flex;
  justify-content: space-around;
  border: 1px solid green;
  width: 800px;
  height: 206px;
}
#choice-container {
  margin: 0 auto;
  position: relative;
}
.choice-mouse-down {
  /* I'm not using :focus because when .choice-mouse-up is added and deleted, it could
  still be focused and I don't
     want :focus to be a huge scale still*/
  transform: scale(2);
}
.choice-mouse-up {
  transform: scale(1.5);
}
.choice-button {
  outline: none;
  position: relative;
  border: 1px solid white;
}
img {
  border: 1px dashed blue;
}
.hover-bigger:hover {
  transform: scale(1.5);
}

.selected-background {
  /* the div this is on MUST be above the <img> for */
  position: absolute;
  background: radial-gradient(rgba(200, 200, 0, 0.8), rgba(200, 0, 0, 0) 70%);
  width: 250px;
  height: 250px;
  /* box-shadow: 0 0 20px green; */
  z-index: -1;
  top: -25px;
  left: -25px;
}

.choice-image {
  position: relative;
}

.hidden {
  visibility: hidden;
}
